<section class="hero">
  <div class="hero__container flex-wrap">
    <img
      class="hero__logo animate__heartBeat animate__animated"
      src="https://firebasestorage.googleapis.com/v0/b/api-rest-curriculum-oscar.appspot.com/o/logo-nuevo-developer.png?alt=media&token=7d652cd3-8a36-4593-9b3d-2c4104303c4f"
      alt="logo"
    />
  </div>
</section>

<section>
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slides container-xl">
          <h2 class="section-stack__title text-center py-4">
            Frontend y Backend
          </h2>
          <div class="row py-4 my-auto">
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color/144/000000/html-5--v1.png"
                />
                <h2 class="text-center text-lg">HTML 5</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img src="https://img.icons8.com/color/144/000000/css3.png" />
                <h2 class="text-center text-lg">CSS 3</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color/240/000000/javascript--v1.png"
                />
                <h2 class="text-center text-lg">JavaScript</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img src="https://img.icons8.com/color/240/000000/sass.png" />
                <h2 class="text-center text-lg">SASS</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color/240/000000/bootstrap.png"
                />
                <h2 class="text-center text-lg">Bootstrap</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color/144/000000/angularjs.png"
                />
                <h2 class="text-center text-lg">Angular</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light border-light">
                <img src="https://img.icons8.com/color/144/000000/nodejs.png" />
                <h2 class="text-center text-lg">NodeJS</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color/240/000000/react-native.png"
                />
                <h2 class="text-center text-lg">React</h2>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color/240/000000/symfony.png"
                />
                <h2 class="text-center text-lg">Symfony(PHP)</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-xl slides">
          <h2 class="section-stack__title text-center py-4">
            Stack Tecnológico Diseñador:
          </h2>
          <div class="row py-4">
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  class="p-3"
                  src="https://firebasestorage.googleapis.com/v0/b/test-gatsby-portfolio.appspot.com/o/portfolio-images%2Fweb-development%2Flogos%2F3d_max_logo.jpg?alt=media&token=19fddcfd-d18e-413e-958c-447964b99c16"
                  alt="logo-html"
                />
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  class="p-3"
                  src="https://firebasestorage.googleapis.com/v0/b/test-gatsby-portfolio.appspot.com/o/portfolio-images%2Fweb-development%2Flogos%2Frhino_logo.jpg?alt=media&token=bd284ee4-932b-4841-9a6b-238cc6918aee"
                  alt="logo-css"
                />
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  class="p-4"
                  src="https://firebasestorage.googleapis.com/v0/b/test-gatsby-portfolio.appspot.com/o/portfolio-images%2Fweb-development%2Flogos%2FLogotipo-Vray.jpg?alt=media&token=3165c161-824b-49f6-85be-ee32fb3aa91c"
                  alt="logo-js"
                />
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img
                  class="p-4"
                  src="https://firebasestorage.googleapis.com/v0/b/test-gatsby-portfolio.appspot.com/o/portfolio-images%2Fweb-development%2Flogos%2Fautodesk-sketchbook-pro-2018-logo-licencias-colombia.png?alt=media&token=37dcd39b-bbc1-45f0-a1bf-f8f53cdc5844"
                  alt="logo-js"
                />
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  class="p-3"
                  src="https://firebasestorage.googleapis.com/v0/b/test-gatsby-portfolio.appspot.com/o/portfolio-images%2Fweb-development%2Flogos%2FCorelLogo.jpg?alt=media&token=52acaeab-835c-46fd-9fb4-a117388c7f28"
                  alt="logo-html"
                />
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/fluent/240/000000/adobe-photoshop.png"
                />
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mx-auto my-auto">
              <div class="card border-light">
                <img
                  src="https://img.icons8.com/color-glass/240/000000/adobe-illustrator.png"
                />
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="icon carousel-control-next-icon" aria-hidden="false"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<app-hero></app-hero>

<section class="section-skills">
  <div class="container-xl">
    <div class="row">
      <div class="col-10 col-md-12 mx-auto">
        <h1 class="text-center fw-bold">SKILLS</h1>
        <div class="container">
          <h2 class="fw-light">CSS</h2>
          <div
            class="
              progress
              my-3
              animate__lightSpeedInRight animate__animated animate__delay-3s
            "
            style="height: 25px"
          >
            <div
              class="progress-bar bg-success rounded-1"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h2 class="fw-light">HTML</h2>
          <div
            class="
              progress
              my-3
              animate__lightSpeedInLeft animate__animated animate__delay-3s
            "
            style="height: 25px"
          >
            <div
              class="progress-bar bg-info rounded-1"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h2 class="fw-light">JavaScript</h2>
          <div
            class="
              progress
              my-3
              animate__lightSpeedInRight animate__animated animate__delay-3s
            "
            style="height: 25px"
          >
            <div
              class="progress-bar bg-warning rounded-1"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h2 class="fw-light">NodeJS</h2>
          <div
            class="
              progress
              my-3
              animate__lightSpeedInLeft animate__animated animate__delay-3s
            "
            style="height: 25px"
          >
            <div
              class="progress-bar bg-danger rounded-1"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h2 class="fw-light">Angular</h2>
          <div
            class="
              progress
              my-3
              animate__lightSpeedInRight animate__animated animate__delay-3s
            "
            style="height: 25px"
          >
            <div
              class="progress-bar bg-primary rounded-1"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h2 class="fw-light">ReactJS</h2>
          <div
            class="
              progress
              my-3
              animate__animated animate__lightSpeedInLeft animate__delay-3s
            "
            style="height: 25px"
          >
            <div
              class="progress-bar bg-secondary rounded-1"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-skills></app-skills>
